---
import type { Resposta } from '../types/typesApi';
import TargetaCohet from './TargetaCohet.astro';

const resposta = await fetch('https://api.spacexdata.com/v5/launches/query', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({
    query: {},
    options: {
      sort: {
        date_unix: 'asc',
      },
      limit: 12,
    },
  }),
});
/* const dades = JSON.stringify(await resposta.json());
console.log('dades -->', dades); */
const { docs: cohets } = (await resposta.json()) as Resposta;
console.log(cohets);
---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3'>
  {
    cohets.map((cohet) => (
      <TargetaCohet
        id={cohet.id}
        imatge={cohet.links.patch.small}
        detalls={cohet.details}
        numeroLlançament={cohet.flight_number}
        exit={cohet.success}
      />
    ))
  }
</div>
