---
import TargetaCohet from './TargetaCohet.astro';
import { fetchCohets } from '../services/fetchAPI.ts';

const cohets = await fetchCohets();
console.log("Component Llançaments");

---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3'>
  {
    cohets.map(({ id, links, details, flight_number, success }) => (
      <TargetaCohet
        id={id}
        imatge={links.patch.small}
        detalls={details}
        numeroLlançament={flight_number}
        exit={success}
      />
    ))
  }
</div>
